/* 共通のCSS */

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: #333;
  font-size: 1rem;
  line-height: 1.8;
  letter-spacing: 0.8px;
  word-break: break-all;
}

a {
  color: #1ca9e3;
  text-decoration: none;
}

a:hover, a:hover img {
  opacity: .8;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

img, video, object {
  max-width: 100%;
  height: auto;
  border: none;
  vertical-align: bottom;
  display: block;
}

ul, li {
  list-style: none;
  padding: 0;
}

#wrapper {
  background-color: #f3f3f3;
  text-align: center;
}

.hidden {
  display: none;
}


/* HeaderのCSS */

#header {
  padding: 4rem 2rem 1rem;
}

.logo {
  cursor: pointer;
}

.logo .logo-name {
  font-family: 'Yesteryear', cursive;
  display: block;
  position: relative;
  top: 10px;
  right: 235px;
  font-size: 2rem;
  color: #ffd700;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.logo .logo-title {
  font-family: 'Oswald', sans-serif;
   font-size: 5rem;
   color: #00ced1;
   line-height: 1;
   letter-spacing: -2px;
}

.nav-bar {
  margin: 80px 0 60px;
}

.nav-bar li {
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 24px;
  font-weight: bold;
  cursor: pointer;
}

.nav-bar .active {
  border-bottom: 4px solid red;
}


/* MainのCSS */

#main {
  padding: 40px 80px 100px;
  font-size: 1.4rem;
}

#main .active {
  display: block;
}

#main .inner {
  margin: 0 100px;
  text-align: left;
}

#main h1 {
  font-size: 2rem;
}

/* #main p {
  padding-left: 30px;
} */

.default {
  display: none;
}

.desc {
  padding-left: 30px;
}

.about {
}

.about .container {
  display: flex;
  margin: 30px;
}

.about img {
  height: 300px;
  width: 300px;
}

.about .desc p {
  font-size: 1rem;
}

.skill {
  display: none;
}

.skill .container {
  display: flex;
  margin: 30px;
}

.skill .container div {
  margin: 40px;
}

.skill .container img {
  height: 150px;
  width: auto;
}

.skill .rate {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 20px;
  font-size: 20px;
}

.skill .rate:before, .skill .rate:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

.skill .rate:before {
  color: #ddd;
}

.skill .rate:after {
  color: #e8629f;
  overflow: hidden;
  white-space: nowrap;
}



.skill .rate {
  height: 15px;
  font-size: 15px;
}
.skill .rate:before, .skill .rate:after {
  height: 15px;
  line-height: 15px;
}
.skill .rate1:after {
  width: 15px;
}
.skill .rate2:after {
  width: 30px;
}
.skill .rate3:after {
  width: 45px;
}
.skill .rate4:after {
  width: 60px;
}
.skill .rate5:after {
  width: 75px;
}



.work {
  display: none;
}

.work .container {
  display: flex;
  margin: 30px;
}

.work .image_box {
  /* height: 100%;
  width: 100%; */
}

.work .image_box span {
  font-size: 0.8rem;
  font-weight: bold;
}

.work img {
  height: 210px;
  width: 420px;
}

.work .desc p {
  font-size: 1rem;
}

.boxbox {
  border: 1px solid red;
  height: 350px;
  width: 100%;
  margin: 40px;
}

.contact {
  display: none;
}

.contact img {
  height: 100px;
  width: 100px;
}

.contact .container {
  justify-content: center;
  display: flex;
  margin: 160px 30px 0;
}


/* FooterのCSS */

#footer {
  background-color: #333;
  padding: 0.2rem 1rem;
}

#footer .copyright {
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  font-family: cursive;
}


/* tablet */

@media screen and (max-width:770px) {
  /* headerのCSS */

  .logo .logo-name {
    font-family: 'Yesteryear', cursive;
    display: block;
    position: relative;
    top: 10px;
    right: 190px;
    font-size: 1.6rem;
    color: #ffd700;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  .logo .logo-title {
    font-family: 'Oswald', sans-serif;
     font-size: 4rem;
     color: #00ced1;
     line-height: 1;
     letter-spacing: -2px;
  }


  /* mainのCSS */

  #main .inner {
    text-align: left;
    margin: 0;
  }

}


/* smartphone */

@media screen and (max-width:430px) {
  /* headerのCSS */

  .logo .logo-name {
    font-family: 'Yesteryear', cursive;
    display: block;
    position: relative;
    top: 5px;
    right: 100px;
    font-size: 1rem;
    color: #ffd700;
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  .logo .logo-title {
    font-family: 'Oswald', sans-serif;
     font-size: 2.5rem;
     color: #00ced1;
     line-height: 1;
     letter-spacing: -2px;
  }


  /* mainのCSS */

  #main {
    padding: 20px 30px 50px;
    font-size: 1.2rem;
  }

  #main h1 {
    font-size: 1.5rem;
  }

  #main .inner {
    text-align: left;
    margin: 0;
  }

}


/* smartphone mini */

@media screen and (max-width:380px) {
/* headerのCSS */

.logo .logo-name {
  font-family: 'Yesteryear', cursive;
  display: block;
  position: relative;
  top: 10px;
  right: 75px;
  font-size: 0.8rem;
  color: #ffd700;
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.logo .logo-title {
  font-family: 'Oswald', sans-serif;
   font-size: 2rem;
   color: #00ced1;
   line-height: 1;
   letter-spacing: -2px;
}


/* mainのCSS */

#main {
  padding: 20px 30px 50px;
  font-size: 1.2rem;
}

#main h1 {
  font-size: 1.5rem;
}

#main .inner {
  text-align: left;
  margin: 0;
}

/* footerのCSS */


  #footer {
    background-color: #333;
    padding: 0.2rem 3.7rem;
  }
}
